/* #DEC9F2
#4945BF
#9973E9
#F28F38
#6167F1 
*/

header{
    padding: 30px 20px;
    font-size: 14px;
    font-weight: 600;
    
    
}
header:after{
    content: "";
    display:table;
    clear:both;
}

header a{
    color:#FF0000;
    text-decoration: none; 
}

header .logo{
    display: inline-block;
    float:left;
}
header .logo img{
    width: 50px;
    margin-right: 28px;

}
header .menu{
    display: inline-block;
    float:left;
    position: relative;
    top: 20px;
}
header .menu a{
    text-transform: uppercase;
}
header .header-buttons{
    display: inline-block;
    float:right;
}
header .header-buttons .blue-btn{
    background: #4945BF;
    padding: 14px 46px;
    color: white;
    border-radius: 35px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 20px;
  
}
header .header-buttons .blue-btn .fas{
    margin-left: 15px;
}
header .header-buttons .orange-btn{
    background: #F28F38;
    padding: 14px 46px;
    color: white;
    border-radius: 35px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 20px;
}